@use 'variables' as *;

// mixins to take care of repeated patterns.
@mixin set-font($size: 1em, $line-height: normal, $font: $fonts-body) {
  font-family: $font;
  font-size: $size;
  line-height: $line-height;
}

@mixin set-flex($direction: row, $wrap: wrap) {
  display: flex;
  flex-flow: $direction $wrap;
}

@mixin borderImage($split: $split) {
  border-image: url('./images/borderimage.png') $split;
}

h2,
h4 {
  font-family: $fonts-headline;
  margin: 0;
}

h1,
h3 {
  font-family: $fonts-headline2;
  margin: 0;
}

h1 {
  color: $text-light;
  display: inline-block;
  font-weight: normal;
  margin-bottom: 1em;
  padding: 0.3em;
  border: 10px solid;
  @include borderImage(50);
  text-transform: uppercase;
}
h2 {
  color: $text-light;
  font-size: 6em;
  letter-spacing: 1px;
  line-height: 1em;
}
h3 {
  @include set-font(4em, 1em, $fonts-isometric);
  letter-spacing: 5px;
  color: $text-light;
  display: inline-block;
  font-weight: normal;
  padding: 0.3em;
  border-bottom: 10px solid;
  @include borderImage(50);
  text-transform: uppercase;
}
h4 {
  font-size: 1.5em;
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0.5em 0;
}

p {
  font-size: 1.4em;
  padding: 0.5em;
  margin: 0.5em;
  color: $text-light-alpha;
  border: 8px solid;
  @include borderImage(50);
}

a {
  @include set-font(1em, 1em, $fonts-headline);
  border-bottom: 8px solid;
  @include borderImage(30);
  color: $text-light;
  text-decoration: none;
  transition: border-bottom 0.2s ease-in-out;
}
a:hover {
  border-bottom: 12px solid;
}

li {
  a {
    font-family: $fonts-headline2;
    border-image: none;
    border: none;
    transition: font-size 0.2s ease-in-out;
  }
  a:hover {
    border-image: none;
    border: none;
    font-size: 1.5em;
  }
}

.sidebar {
  h3 {
    font-family: $fonts-headline2;
    font-size: 20px;
    border: 10px solid;
    @include borderImage(50);
  }

  .wrapper {
    display: flex;
  }

  .design-selection {
    font-family: $fonts-headline;

    ul {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;

      li {
        background: url('./images/buttonbg.png');
        margin: 6px;
        padding: 6px;

        a {
          font-family: $fonts-headline;
          color: $text-light;
        }
      }
    }
  }
}

@media only screen and (min-width: 800px) {
  
}
